<section>
  <!-- Account details card-->
  <div class="card mb-4">
    <div class="card-header fw-medium">Account Details</div>
    <div class="card-body">
      <form
        (ngSubmit)="updateData(updateFormData)"
        [formGroup]="updateFormData"
      >
        <!-- Form Group (username)-->
        <div class="mb-3">
          <label
            class="small mb-1 text-muted text-capitalize"
            for="inputUsername"
            >Username (how your name will appear to other users on the
            site)</label
          >
          <input
            class="form-control"
            id="inputUsername"
            type="text"
            [readonly]="readonly"
            placeholder="Enter your username"
            [ngClass]="{
              'is-valid': !name && disabled,
              'is-invalid': name?.errors && name?.touched && disabled
            }"
            formControlName="name"
          />
          <div *ngIf="name?.dirty" class="errorGroupe my-3">
            <p *ngIf="name?.getError('maxlength')" class="alert alert-danger">
              Username must be at least 20
            </p>
            <p *ngIf="name?.getError('mminlength')" class="alert alert-danger">
              Username must be at least 3 characters long
            </p>
          </div>
        </div>

        <!-- Form Row  -->
        <div class="row gx-3 mb-1">
          <!-- Form Group (email)-->
          <div class="col-md-6">
            <label
              class="small mb-1 text-muted text-capitalize"
              for="inputemail"
              >email
            </label>
            <input
              class="form-control"
              id="inputemail"
              type="tel"
              [readonly]="readonly"
              placeholder="Enter your email"
              [ngClass]="{
                'is-valid': !email?.errors && disabled,
                'is-invalid': email?.errors && email?.touched && disabled
              }"
              formControlName="email"
            />
            <div *ngIf="email?.dirty" class="errorGroupe my-3">
              <p *ngIf="email?.getError('email')" class="alert alert-danger">
                your email not valid
              </p>
            </div>
          </div>
          <!-- Form Group (phone)-->
          <div class="col-md-6">
            <label
              class="small mb-1 text-muted text-capitalize"
              for="inputPhone"
              >phone</label
            >
            <input
              class="form-control"
              id="inputPhone"
              [readonly]="readonly"
              type="text"
              placeholder="Enter your phone"
              [ngClass]="{
                'is-valid': !phone?.errors && disabled,
                'is-invalid': phone?.errors && phone?.touched && disabled
              }"
              formControlName="phone"
            />
            <div *ngIf="phone?.dirty" class="errorGroupe my-3">
              <p *ngIf="phone?.getError('pattern')" class="alert alert-danger">
                Please enter a valid Egyptian phone number
              </p>
            </div>
          </div>
        </div>
        <app-btncart
          *ngIf="disabled"
          [isLoding]="isLoding"
          [text]="'Save changes'"
          [bgMain]="true"
          [loderBgMain]="true"
          [fullWidth]="true"
        ></app-btncart>
      </form>
      <button
        (click)="removedisable()"
        type="menu"
        class="my-3 btn py-2 ms-auto text-white text-capitalize even w-100"
      >
        <span class="fw-bolder px-2">edite info</span>
      </button>
    </div>
  </div>
</section>
