<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
  <a
    class="px-3 py-2 navbar-brand col-sm-3 col-md-3 col-lg-2 mr-0"
    routerLink="/home"
  >
    <img src="./assets/images/logo.png" alt="" />
  </a>
  <input
    class="form-control form-control-dark w-100 mb-4"
    type="text"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="inputSearch"
  />
</nav>
<section class="container-fluid py-0">
  <div class="row justify-content-between parent">
    <nav class="col-md-3 col-lg-2 sidebar fixed-side">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a
              class="nav-link active position-relative"
              routerLink="/dashboard"
            >
              <i class="zmdi zmdi-widgets"></i>
              All Orders <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 col-lg-10">
      <div class="card-list my-3">
        <div class="row my-3">
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card blue">
              <div class="title">all Orders</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">{{ couterOrders }}</div>
              <div class="stat"><b>13</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card green">
              <div class="title">Total Price</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">{{ totalPrice | currency : "EG" }}</div>
              <div class="stat"><b>4</b>% increase</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card orange">
              <div class="title">Total Price after Discount</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">{{ totalPrice * 0.8 | currency : "EG" }}</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card red">
              <div class="title">new customers</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">0</div>
              <div class="stat"><b>13</b>% decrease</div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects mb-4">
        <div class="projects-inner">
          <header class="projects-header">
            <div class="title">Ongoing Orders</div>
            <div class="count">| {{ allOrders.length }} Orders</div>
            <i class="zmdi zmdi-download"></i>
          </header>
          <table class="projects-table mb-0 table text-center">
            <thead>
              <tr>
                <th>ID</th>
                <th>Deadline</th>
                <th>Customer</th>
                <th>IsPaid</th>
                <th>Payment Type</th>
                <th class="text-right">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="danger-item"
                *ngFor="
                  let order of allOrders
                    | namedashBoard : inputSearch
                    | paginate
                      : {
                          id: 'paginations-Orders',
                          itemsPerPage: pageSize,
                          currentPage: currentPage,
                          totalItems: totalItems
                        };
                  let i = index
                "
              >
                <td>
                  <p>
                    <span class="fw-bold">{{ i + 1 }}: </span>#{{ order.id }}
                  </p>
                </td>
                <td>
                  <p>create in {{ order.createdAt | date : "short" }}</p>
                  <p class="text-danger">
                    deadline {{ order.updatedAt | date }}
                  </p>
                </td>
                <td class="member">
                  <div class="member-info">
                    <p>{{ order.user.name }}</p>
                    <p>{{ order.user.email }}</p>
                  </div>
                </td>
                <td>
                  <p>{{ order.totalOrderPrice }}</p>

                  <p>
                    isPaid:
                    <i
                      *ngIf="!order.isPaid"
                      class="fa-solid fa-circle-xmark text-danger"
                    ></i>
                    <i
                      *ngIf="order.isPaid"
                      class="fa-solid fa-check text-main"
                    ></i>
                  </p>
                </td>
                <td>
                  <i
                    *ngIf="order.paymentMethodType === 'card'"
                    class="fa-brands fa-cc-visa fa-xl cash"
                  ></i>
                  <i
                    *ngIf="order.paymentMethodType === 'cash'"
                    class="fa-solid fa-wallet fa-xl visa"
                  ></i>

                  <p>
                    isDelivered:
                    <i
                      *ngIf="!order.isDelivered"
                      class="fa-solid fa-circle-xmark text-danger"
                    ></i>
                    <i
                      *ngIf="order.isDelivered"
                      class="fa-solid fa-check text-main"
                    ></i>
                  </p>
                </td>
                <td>
                  <div class="member-info">
                    <p>
                      {{
                        order.shippingAddress?.city
                          ? order.shippingAddress.city
                          : "unknown"
                      }}
                    </p>
                    <p>
                      {{
                        order.shippingAddress?.details
                          ? order.shippingAddress.details
                          : "unknown"
                      }}
                    </p>
                    <p>
                      {{
                        order.shippingAddress?.phone
                          ? order.shippingAddress.phone
                          : "unknown"
                      }}
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination-controls
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        [id]="'paginations-Orders'"
        [maxSize]="9"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </main>
  </div>
</section>
