<section class="categories" *ngIf="categoriesLength > 0">
  <h1 class="baseTitle mb-4 text-capitalize">all Popular categories</h1>
  <div class="mb-4 text-main fw-medium">
    <span class="">{{ categoriesLength }} </span>
    <span>categories found</span>
  </div>
  <div class="row gy-4">
    <div *ngFor="let item of allCategories" class="col-lg-3 col-md-6 item">
      <div
        class="inner"
        [routerLink]="['/specificCategory', item._id, item.name]"
      >
        <h4 class="">{{ item.name }}</h4>
        <figure class="baseSlideItem">
          <img
            height="300"
            class="w-100 rounded"
            [src]="item.image"
            [alt]="item.name"
          />
        </figure>
        <hr />
      </div>
    </div>
  </div>
</section>
