<section class="user-order?" *ngIf="userOrder.length > 0">
  <h1 class="text-capitalize mb-4 text-center text-main fw-bold">
    all your's orders
  </h1>
  <div class="row g-3">
    <div class="inner allorders rounded-3 p-5">
      <div
        class="row gy-4 align-items-start justify-content-between"
        *ngFor="let order of userOrder"
      >
        <div class="col-lg-9">
          <div class="row" *ngFor="let item of order?.cartItems">
            <div class="col-lg-4 col-md-5">
              <figure
                class="baseSlideItem rounded-3 w-100"
                [routerLink]="['/details', item.product.id]"
              >
                <img
                  class="w-100 rounded-4"
                  [src]="item.product.imageCover"
                  [alt]="item.product.title"
                />
              </figure>
            </div>
            <div class="col-lg-8 col-md-7">
              <h2 class="text-capitalize text-main">
                order id: <span class="text-muted">#{{ order?.id }}</span>
              </h2>
              <div class="info-order?">
                <h4 class="text-muted text-capitalize">
                  last update:
                  {{ order?.createdAt | date }}
                </h4>
                <div class="isDelivered">
                  <h4 class="text-capitalize text-muted">
                    isDelivered:
                    <i
                      *ngIf="order?.isDelivered"
                      class="fa-solid fa-check text-main"
                    ></i>
                    <i
                      *ngIf="!order?.isDelivered"
                      class="fa-solid fa-circle-xmark text-danger"
                    ></i>
                  </h4>
                  <div class="isPaid">
                    <h4 class="text-capitalize text-muted">
                      isPaid:
                      <i
                        *ngIf="!order?.isDelivered"
                        class="fa-solid fa-circle-xmark text-danger"
                      ></i>
                      <i
                        *ngIf="order?.isDelivered"
                        class="fa-solid fa-check text-main"
                      ></i>
                    </h4>
                  </div>
                </div>

                <h4 class="text-capitalize text-muted">
                  data:{{ order?.paidAt | date }}
                </h4>
                <div class="payment text-muted text-capitalize">
                  <h4>
                    payment Type
                    <i
                      *ngIf="order?.paymentMethodType === 'card'"
                      class="fa-brands fa-cc-visa fa-xl text-main"
                    ></i>
                    <i
                      *ngIf="order?.paymentMethodType === 'cash'"
                      class="fa-solid fa-wallet fa-xl text-main"
                    ></i>
                  </h4>
                </div>

                <h4 class="text-muted text-capitalize">
                  last update:
                  {{ order?.updatedAt | date }}
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <h4 class="text-capitalize">
            shipping Price:
            <span class="text-muted">{{ order?.shippingPrice }}</span>
          </h4>
          <h4 class="text-capitalize">
            tax Price: <span class="text-muted"> {{ order?.taxPrice }}</span>
          </h4>
          <hr />
          <h4 class="text-capitalize">
            total Order Price:
            <span class="text-muted">
              {{ order?.totalOrderPrice | currency : "eg" }}
            </span>
          </h4>
        </div>
        <a
          class="arrow-detals bg-main align-self-end text-end text-white p-3 rounded-3 fw-bold text-capitalize"
          [routerLink]="['/specifcOrder', order?._id]"
        >
          <i class="fa-solid fa-angles-right"></i>
          show order? details
        </a>
        <hr class="py-4" />
      </div>
    </div>
  </div>
</section>
<app-emptycart
  [title]="'You haven\'t placed any orders yet!'"
  *ngIf="userOrder.length === 0"
></app-emptycart>
