<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">
      <img src="./assets/images/freshcart-logo.svg" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let link of allLInks" class="nav-item">
          <a
            class="nav-link text-capitalize"
            aria-current="page"
            routerLinkActive="active-link"
            routerLink="{{ link }}"
            >{{ link }}</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLink="/cart" role="button">
          <a class="nav-link position-relative" aria-current="page">
            <i #cartIcon class="fa-solid fa-cart-shopping fa- fa-2x"></i>
            <span
              class="badge bg-mian position-absolute top-0 end-0 rounded-2"
              >{{ itemCount }}</span
            >
          </a>
        </li>

        <li *ngFor="let icon of allIcons" class="nav-item">
          <a class="nav-link" aria-current="page"><i [class]="icon"></i></a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            aria-current="page"
            routerLinkActive="active"
            (click)="sinOut()"
            >sinOut</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
