<section>
  <!-- adress details card-->
  <div class="card mb-4">
    <div class="card-header fw-medium">Addresse Details</div>
    <div class="card-body">
      <form
        (ngSubmit)="addAddresse(addAddresseForm)"
        [formGroup]="addAddresseForm"
      >
        <!-- Form Group (home)-->
        <div class="mb-3">
          <label class="small mb-1 text-muted text-capitalize" for="inputhome">
            add your home locations</label
          >
          <input
            class="form-control"
            id="inputhome"
            type="text"
            [readonly]="readonly"
            placeholder="Enter your House"
            [ngClass]="{}"
            formControlName="name"
          />
          <div *ngIf="house?.dirty" class="errorGroupe my-3">
            <p
              *ngIf="house?.getError('required')"
              class="alert alert-danger text-capitalize"
            >
              Please enter your City
            </p>
            <p
              *ngIf="house?.getError('maxlength')"
              class="alert alert-danger text-capitalize"
            >
              house house must be at least 20
            </p>
            <p
              *ngIf="house?.getError('minlength')"
              class="alert alert-danger text-capitalize"
            >
              house location must be at least 3
            </p>
          </div>
        </div>

        <!-- Form Group (city,details)-->
        <div class="row gx-3 mb-1">
          <!-- Form Group (city)-->
          <div class="col-md-6">
            <label class="small mb-1 text-muted text-capitalize" for="inputCity"
              >City</label
            >
            <input
              class="form-control"
              id="inputCity"
              [readonly]="readonly"
              type="text"
              placeholder="Enter your city"
              [ngClass]="{
                'is-valid': !city?.errors && disabled,
                'is-invalid': city?.errors && city?.touched && disabled
              }"
              formControlName="city"
            />
            <div *ngIf="city?.dirty" class="errorGroupe my-3">
              <p
                *ngIf="city?.getError('required')"
                class="alert alert-danger text-capitalize"
              >
                Please enter your City
              </p>
              <p
                *ngIf="city?.getError('minlength')"
                class="alert alert-danger text-capitalize"
              >
                your City must be at least 3
              </p>
              <p
                *ngIf="city?.getError('maxlength')"
                class="alert alert-danger text-capitalize"
              >
                your City must be at least 20
              </p>
            </div>
          </div>
          <!-- Form Group (details)-->
          <div class="col-md-6">
            <label
              class="small mb-1 text-muted text-capitalize"
              for="inputdetails"
              >more details</label
            >
            <input
              class="form-control"
              id="inputdetails"
              [readonly]="readonly"
              type="text"
              placeholder="Enter your details (Option)"
              formControlName="details"
            />
          </div>
        </div>

        <app-btncart
          *ngIf="disabled"
          [isLoding]="isLoding"
          [text]="'Save changes'"
          [bgMain]="true"
          [loderBgMain]="true"
          [fullWidth]="true"
        ></app-btncart>
      </form>
      <button
        (click)="removedisable()"
        type="menu"
        class="my-3 btn py-2 ms-auto text-white text-capitalize even w-100"
      >
        <span class="fw-bolder px-2">edite info</span>
      </button>
    </div>
  </div>
</section>
