<!-- <section class="allorders p-5">
  <h1 class="baseTitle mb-4">all orders</h1>
  <div class="row" *ngFor="let order of allOrders; let count = count">
    <div class="col-md-8">
      <div class="row">
        <div class="col-3" *ngFor="let item of order.cartItems">
          <figure class="w-75 baseSlideItem mx-auto">
            <img
              class="w-100 rounded-2"
              [src]="item.product.imageCover"
              [alt]="item.product.title"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
    <hr />
  </div>
</section> -->
