<section *ngIf="firstStep" @fade class="forget-pass p-3">
  <h1 class="mat-headline-4 mb-0 text-capitalize py-5">forget password</h1>
  <form (ngSubmit)="missPassword()" [formGroup]="formPassword">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control shadow-0"
        id="floatingInputemail"
        placeholder=" email"
        [ngClass]="{
          'is-valid': !email?.errors,
          'is-invalid': email?.errors && email?.touched
        }"
        formControlName="email"
      />
      <label for="floatingInputemail"> email</label>
      <div *ngIf="email?.dirty" class="errorGroupe my-3">
        <p *ngIf="email?.getError('required')" class="alert alert-danger">
          your email is required
        </p>
        <p *ngIf="email?.getError('email')" class="alert alert-danger">
          your email not valid
        </p>
      </div>
    </div>
    <app-btncart
      [formValid]="formPassword.valid"
      [isLoding]="isLoding"
      [text]="'reset Password'"
      [bgMain]="true"
      [loderBgMain]="true"
    ></app-btncart>
  </form>
</section>
<section *ngIf="nextStep" @fade class="forget-pass p-3">
  <h1 class="mat-headline-4 mb-0 text-capitalize py-5">Verify Code</h1>

  <form [formGroup]="codeForm" (ngSubmit)="submitCode()">
    <div formGroupName="code">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit1"
              maxlength="1"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit2"
              maxlength="1"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit3"
              maxlength="1"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit4"
              maxlength="1"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit5"
              maxlength="1"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-2">
          <mat-form-field class="w-100">
            <input
              matInput
              type="text"
              formControlName="digit6"
              maxlength="1"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <app-btncart
      [formValid]="codeForm.valid"
      [isLoding]="isLoding"
      [text]="'Verify Code'"
      [bgdark]="true"
      [loderBgMain]="true"
    ></app-btncart>
  </form>
</section>
<section @fade *ngIf="lastStep" class="forget-pass p-3">
  <h1 class="mat-headline-4 mb-0 text-capitalize py-5">update password</h1>
  <form (ngSubmit)="updatePassword(resetForm)" [formGroup]="resetForm">
    <!-- user password -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control shadow-0"
        id="floatingInputPassword"
        placeholder="Password"
        [ngClass]="{
          'is-valid': !newPassword?.errors,
          'is-invalid': newPassword?.errors && newPassword?.touched
        }"
        formControlName="newPassword"
      />
      <label for="floatingInputnewPassword"> newPassword</label>
      <div *ngIf="newPassword?.dirty" class="errorGroupe my-3">
        <p *ngIf="newPassword?.getError('required')" class="alert alert-danger">
          your newPassword is required
        </p>
        <p *ngIf="newPassword?.getError('pattern')" class="alert alert-danger">
          your newPassword not valid
        </p>
      </div>
    </div>
    <app-btncart
      [formValid]="resetForm.valid"
      [isLoding]="isLoding"
      [text]="'update password'"
      [bgMain]="true"
      [loderBgMain]="true"
    ></app-btncart>
  </form>
</section>
